body {
  background-color: #CACCA0;
}

#titolo {
  color: #71743e;
  text-shadow: 2px 2px #202112;
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 50px;
  padding-bottom: 15px;
}
.link a {
    color: black;
    text-decoration: none;
}
.link a:hover{
  background-color: white;
  color: red;
}

.boxLink {
  background-color: #f44336;
  color: white;
  padding: 14px 25px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
}

#button{
     float: left;
     padding: 10px;
     margin: 10px;
     width: auto;
}

.boxLink a:hover, a:active{
  background-color: red;
}

.row::after{
    content: "";
    display: table;
    clear: both;

}

.column {
  float: left;
  width: 31.33%;
  height: 31.33%;
  padding: 10px;
  margin: 10px;
}

.bold {
  font-weight: 900;
}
