<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title><%=title%></title>
    </head>
    <body>
        Hello <%=name%> <%=surname%>
        <a href = "/"> altra pag</a>
    </body>
</html>