#tabella{
    position: relative;
    display:  table;
    margin-left: auto;
    margin-right: auto;
}

.row{
    display:table-row;
}

.cell{
    float:left;
    display:table-column;
    width:200px;
    height: 200px;
    background-color:#333333;
    border:1px solid  #FFFFFF;
    border-spacing:5px;
   }
i{
  float:left;
  display:table-column;
  width:200px;
  height: 200px;
}
body{
  background-color: #3700B3;
  height: auto;
  width: auto;
}
